.datePicker {
  width: 100%;

  :global(.ant-picker) {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent; // tùy bạn muốn ẩn nền luôn không
  }

  :global(.ant-picker-input > input) {
    border: none !important;
    box-shadow: none !important;
  }
}
