.wrapper-layout {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.header {
  z-index: 10;
  width: 100%;

  background-color: rgb(46, 180, 252);
  color: #000;
}

.main {
  overflow: hidden;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  min-height: 100vh;

  padding-bottom: 2rem;

  background: linear-gradient(45deg, #56c0f9, #ffffff);
}

.footer {
  overflow: hidden;
  color: #000;
}
