:root {
  /* Color */
  --light-gray: 240, 240, 240;
  --white: 255, 255, 255;
  --bright-blue: 46, 180, 252;
  --belize-hole: 52, 152, 219;
  --gray: 195, 195, 195;

  /* Border */
  --gray-bd: #c3c3c3;
  --primary-bd: #2eb4fc;
  --secondary-bd: #6c757d;
  --success-bd: #28a745;
  --danger-bd: #dc3545;
  --warning-bd: #ffc107;
  --info-bd: #17a2b8;
  --light-bd: #f8f9fa;
  --dark-bd: #343a40;
  --blue-dark: #0973b9;
  //
  --light-gray-bd: #f0f0f0;
  --white-bd: #ffffff;
  --bright-blue-bd: #2eb4fc;
  --belize-hole-bd: #3498db; //shade of blue
  --gray-bd: #c3c3c3;

  /* Button Colors */
  --primary: 46, 180, 252;
  --secondary: 108, 117, 125;
  --success: 40, 167, 69;
  --danger: 220, 53, 69;
  --warning: 255, 193, 7;
  --info: 23, 162, 184;
  --light: 248, 249, 250;
  --dark: 52, 58, 64;

  /* Font Family - Custom Variables */
  --ff-TimeNR: "Times New Roman", serif;
  --ff-gill: "Gill Sans Extrabold", sans-serif;
  --ff-goudy: "Goudy Bookletter 1911", sans-serif;
  --ff-serif: serif;
  --ff-sans: sans-serif;
  --ff-mono: monospace;
  --ff-cursive: cursive;
  --ff-fantasy: fantasy;
  --ff-ui-serif: ui-serif;
  --ff-ui-sans: ui-sans-serif;
  --ff-ui-mono: ui-monospace;
  --ff-ui-rounded: ui-rounded;
  --ff-emoji: emoji;
  --ff-math: math;
  --ff-fangsong: fangsong;

  /* Global values */
  --ff-inherit: inherit; /* Kế thừa font từ phần tử cha */
  --ff-initial: initial; /* Đặt về giá trị mặc định của trình duyệt */
  --ff-revert: revert; /* Khôi phục về giá trị mặc định của trình duyệt hoặc stylesheet gốc */
  --ff-unset: unset; /* Nếu thẻ cha có font-family → kế thừa, nếu không → trở về giá trị mặc định */
}

/* Sử dụng biến trong CSS */
body {
  font-family: var(--ff-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-TimeNR);
}

p {
  font-family: var(--ff-inherit);
}
