.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .btn-item {
    flex: 1;

    padding: 0.5rem;
    border: 1px solid var(--primary-bd);
    border-radius: 1rem;

    color: var(--black);
    text-align: center;

    transition: all 0.3s;

    &:hover {
      border-color: var(--white-bd);

      background-color: var(--primary-bd);
      color: var(--white-bd);
    }
  }
}
