.wrapper-layout {
  overflow-x: hidden;
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background: linear-gradient(45deg, #56c0f9, #ffffff);
}

.header {
  z-index: 10;
  width: 100%;

  background-color: rgb(46, 180, 252);
  color: #000;
}

.main-content {
  overflow: hidden;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  overflow: hidden;

  background-color: var(--bg-page);
  color: #000;
}

.header,
.footer {
  flex-shrink: 0;
}
