.manage-layout {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .sidebar-wrapper {
    background-color: #0973b9;
    overflow-y: auto;
  }

  .children {
    flex: 1;
    overflow-y: auto;
    box-sizing: border-box;
    padding-bottom: 4rem;
  }
}
